Notebooks/Corpo_fav_cleaned.csv
Notebooks/Data_Preparation_old.ipynb
Notebooks/Eric_Modeling_LR.ipynb
Notebooks/holidays_events.csv
Notebooks/items.csv
Notebooks/oil.csv
Notebooks/r4modeling.csv
Notebooks/r4modeling.csv.zip
Notebooks/stores.csv
Notebooks/test_lr.csv
Notebooks/train_clean.csv
Notebooks/train_lr.csv
Notebooks/train_reduced.csv
Notebooks/train_trimmed.csv
Notebooks/transactions.csv
Notebooks/Tutorial_API_token.json
22.4/
*.DS_Store
*.png
*.csv
*.jpg
*.json
*.csv.*