Notebooks/Corpo_fav_cleaned.csv
Notebooks/Data_Preparation_old.ipynb
Notebooks/Eric_Modeling_LR.ipynb
Notebooks/holidays_events.csv
Notebooks/items.csv
Notebooks/oil.csv
Notebooks/r4modeling.csv
Notebooks/r4modeling.csv.zip
Notebooks/stores.csv
Notebooks/test_lr.csv
Notebooks/train_clean.csv
Notebooks/train_lr.csv
Notebooks/train_reduced.csv
Notebooks/train_trimmed.csv
Notebooks/transactions.csv
Notebooks/Tutorial_API_token.json
22.4/tutorial/Notebooks/holidays_events.csv
22.4/tutorial/Notebooks/items.csv
22.4/tutorial/Notebooks/oil.csv
22.4/tutorial/Notebooks/stores.csv
22.4/tutorial/Notebooks/train_clean.csv
22.4/tutorial/Notebooks/train_reduced.csv
22.4/tutorial/Notebooks/transactions.csv
22.4/tutorial/Notebooks/Tutorial_API_token.json
22.4/tutorial/Notebooks/regression_graph.png
22.4/tutorial/Notebooks/train_lr.csv
22.4/tutorial/Notebooks/test_lr.csv
22.4/tutorial/Notebooks/holiday.png
22.4/tutorial/Notebooks/Item1.png
22.4/tutorial/Notebooks/Item2.png
22.4/tutorial/Notebooks/Item3.png
22.4/tutorial/Notebooks/Store1.png
22.4/tutorial/Notebooks/Store2.png
22.4/tutorial/Notebooks/Store3.png
22.4/tutorial/Notebooks/Store4.png
22.4/tutorial/Notebooks/transaction1317.png
22.4/tutorial/Notebooks/Transactionspday.png
